<h1> <%= @movie.name %> </h1>
<h3>Release Date: <%= @movie.release %> </h3>
<h3>Description: <%= @movie.description %> </h3>
<button><%= link_to "Add Review", new_movie_review_path(@movie) %></button>


<h4>User Reviews:</h4>
<% if @movie.reviews.any? %>
  <% @movie.reviews.each do |review| %>
    <div class="container">
      <em> <%= review.author %> </em>
      <p>Rating: <%= review.rating %> out of 5 </p>
      <p> <%= review.content_body %> </p>
      <button><%= link_to "Edit", edit_movie_review_path(@movie, review) %></button>
    </div>
  <% end %>
<% else %>
  <p>there are no reviews yet!</p>
<% end %>f

<p><%= link_to "Add Review", new_movie_review_path(@movie) %></p>

<button><%= link_to "Edit", edit_movie_path(@movie)%></button>
<button><%= link_to "Delete", movie_path(@movie), :data {
:confirm => "Remove permanently?",
:method => "delete"} %></button>
